---
import Layout from '../layouts/Layout.astro';

const { default: meData } = await import('../assets/me.json')

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="hero">
		<h1 class="Nombre">{meData.nombre}</h1>
		<p class="profesi贸n">{meData.profesi贸n}</p>
		<p>{meData.descripci贸n}</p>
	</section>
	<section>
		<h2>experiencia</h2>
		{meData.experiencia.map((exp) => (
			<article class="experiencia">
				<p class="nombre">{exp.nombre}</p>
				<p>{exp.descripci贸n}</p>
				<p>{exp.fecha}</p>
			</article>
		))}
	</section>

	<section>
		<h2>Habilidades</h2>
		<div class="envoltura-habilidades">
		{meData.habilidades.map((hab) =>(
			<article class="habilidad">
				<p>{hab}</p>
			</article>
		))}
		</div>
	</section>	
</Layout>